<div class="row">

    <div class="col-md-6">

        <div class="form-group">
            <label for="category" class="col-sm-4 control-label">Industry</label>
            <div class="col-sm-8 input-group">
                <!-- <input type="text" class="form-control" id="category" name="category"
                    ng-model="vm.dataSearch.category_code"> -->

                <!-- <input type="text" class="form-control" name="category_code"
                    ng-model="vm.dataSearch.category_name" uib-typeahead="item.Title as (item.Code +' - '+ item.Title) for item in vm.loadSuggestCategory($viewValue)" 
                    typeahead-on-select= "vm.selestSuggestCategory($item, $model, $label, $event)" /> -->
                <select class="form-control" ng-model="vm.dataSearch.category_code" ng-options="item.Code as (item.Code + ' - ' + item.Name) for item in vm.lstIndustry"></select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="fileImport" class="col-sm-4 control-label">File Import</label>
            <div class="col-sm-8 input-group">
                <input type="file" class="form-control" id="fileImport" name="fileImport" ngf-select="vm.selectFile($file)" accept=".xls">
            </div>
        </div>

        <div class="form-group">
            <label for="start_date" class="col-sm-4 control-label">Start Date</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.dataSearch.start_date"
                    is-open="vm.datepickerOpened1" datepicker-options="vm.dateOptions" close-text="Close" ng-change="vm.changeDate('start_date')"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-flat btn-success" ng-click="vm.datepickerOpen(1)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="start_date" class="col-sm-4 control-label">End Date</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.dataSearch.end_date"
                    is-open="vm.datepickerOpened2" datepicker-options="vm.dateOptions" close-text="Close" ng-change="vm.changeDate('end_date')"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-flat btn-success" ng-click="vm.datepickerOpen(2)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <button class="btn btn-flat btn-success" ng-click="vm.importFile()" ng-disabled="!vm.fileImport" has-permission="F4001">
                <i class="fa fa-save"></i>
                <span>Import</span>
            </button>
    
            <button class="btn btn-flat btn-danger" ng-click="vm.exportTemplate()" style="margin-left:15px;" has-permission="F4002">
                <span>File mẫu</span>
            </button>
        </div>

        <div class="form-group">
            <div class="input-group">
                <button class="btn btn-success btn-flat" ng-click="vm.search(1)">
                    <i class="fa fa-search"></i>
                    <span>Search</span>
                </button>

                <button class="btn btn-success btn-flat" ui-sref="legislation({})" style="margin-left:15px;" has-permission="F4003">
                    <i class="fa fa-plus"></i>
                    <span>Add New</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="row">
        <div class="col-md-12">
            <table id="dataTable" class="table table-hover dataTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Industry</th>
                        <th>Reporter</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.lstLegislation track by $index">
                        <td>{{item.title}}</td>
                        <td>{{item.category_code}}</td>
                        <td>{{item.reporter}}</td>
                        <td>{{item.start_date | date:'yyyy-MM-dd'}}</td>
                        <td>{{item.end_date | date:'yyyy-MM-dd'}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-flat btn-view" ng-click="vm.detail(item)" has-permission="F4004">
                                <i clas="fa fa-pencil"></i>
                                <span>Edit</span>
                            </button>

                            <button type="button" class="btn btn-danger btn-flat btn-view"
                                ng-click="vm.deleteItem(item.id)" has-permission="F4005">
                                <i class="fa fa-trash"></i>
                                <span>Delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <ul uib-pagination total-items="vm.total" ng-model="vm.page" max-size="5" class="pagination-sm" ng-change="vm.search(0)" items-per-page="12" boundary-links="true" rotate="true"></ul>
        </div>
    </div>
</div>