<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="category" class="col-sm-4 control-label">Category</label>
            <div class="col-sm-8 input-group">
                <!-- <input type="text" class="form-control" id="category" name="category" ng-model="vm.legislation.category_code"> -->
                <select class="form-control" ng-model="vm.legislation.category_code" ng-options="item.Code as (item.Code + ' - ' + item.Name) for item in vm.lstIndustry"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-4 control-label">Title</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="title" name="title" ng-model="vm.legislation.title">
            </div>
        </div>
<!-- 
        <div class="form-group">
            <label for="partner_code" class="col-sm-4 control-label">Partner</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="partner_code" name="partner_code"
                    ng-model="vm.legislation.partner_code">
            </div>
        </div> -->

        <div class="form-group">
            <label for="implementing_authority" class="col-sm-4 control-label">Implementing Authority</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="implementing_authority" name="implementing_authority"
                    ng-model="vm.legislation.implementing_authority">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-8 input-group">
                <textarea name="description" id="description" cols="70" rows="5" ng-model="vm.legislation.description"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="start_date" class="col-sm-4 control-label">Start Date</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.legislation.start_date"
                    is-open="vm.datepickerOpened1" datepicker-options="dateOptions" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-flat btn-success" ng-click="vm.datepickerOpen(1)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="start_date" class="col-sm-4 control-label">End Date</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.legislation.end_date"
                    is-open="vm.datepickerOpened2" datepicker-options="dateOptions" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-flat btn-success" ng-click="vm.datepickerOpen(2)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="reporter" class="col-sm-4 control-label">Reporter</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="reporter" name="reporter"
                    ng-model="vm.legislation.reporter">
            </div>
        </div>

        <div class="form-group">
            <label for="agency" class="col-sm-4 control-label">Agency</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="agency" name="agency" ng-model="vm.legislation.agency">
            </div>
        </div>

        <div class="form-group">
            <label for="summary" class="col-sm-4 control-label">Summary</label>
            <div class="col-sm-8 input-group">
                <textarea name="summary" id="summary" cols="70" rows="5" ng-model="vm.legislation.summary"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button class="btn btn-flat btn-success" ui-sref="legislations()">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>

            <button class="btn btn-flat btn-success" ng-if="vm.legislation.id" ng-click="vm.update(vm.legislation)" has-permission="F4004">
                <i class="fa fa-save"></i>
                Update
            </button>

            <button class="btn btn-flat btn-success" ng-if="!vm.legislation.id" ng-click="vm.save(vm.legislation)" has-permission="F4003">
                <i class="fa fa-save"></i>
                Save
            </button>

            <button class="btn btn-flat btn-danger" ng-if="vm.legislation.id" ng-click="vm.deleteItem(vm.legislation.id)" has-permission="F4005">
                <i class="fa fa-trash"></i>
                Delete
            </button>
        </div>
    </div>
</div>