
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="dashboard-analytics">
        <div class="row match-height">
            <div class="col-lg-7 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">New activated student</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_1"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            New activated student ( % by age )
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_2" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row match-height">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Trialed students</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_3"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            % học thử/số học viên activated
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_4" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row match-height">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Số học viên mới mua gói học</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_5"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">%/số học thử</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_6"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">%/số đăng ký</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_7" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">tỷ trọng các loại gói học phí (Vietnam, native, châu Á)</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_8" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row match-height">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sales revenue - tổng DT</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_9"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sales revenue -  %/KPI</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_10" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sales revenue - tỷ trọng doanh thu các loại gói học phí (Vietnam, native, châu Á)</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_11" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row match-height">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Returned students</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_12"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Returned students - %/số học thử</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_13"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Returned students - %/số đăng ký</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_14" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Returned students - tỷ trọng các loại gói học phí (Vietnam, native, châu Á)</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_15" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/student")

    </section>