
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="dashboard-analytics">
        <div class="row match-height">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">New active teacher - số GV mới active</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_16"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            New active teacher - tỷ trọng loại GV
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="chart_17" class="mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Xếp hạng GV</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive ">
                                <table id="zero-configuration" class="table zero-configuration table-striped"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @Scripts.Render("~/bundles/teacher")

    </section>